* {
    box-sizing: border-box;
    
}

.wrapper {
    background-color:lightgray;
    height: 100%;
    
}
header{
    position: relative;
}

h1 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.container {
    background-color: #fff;
    
}

#action{
    padding-left: 25px;
    padding-top: 20px;
 }
hr {
    width: 95%;
    margin-top: 20px;
}
 #secure-password {
     width: 95%;
     height: 200px;
     border-style: dashed;
     color: lightgray;
     
     border-width: 2px;
 }

h3 {
    font-size: 25px;
    color: lightgray;
    text-align: center;
}

#generate-password {
    background-color: red;
    border-color: red;
    border-radius: 1rem;
    width: 250px;
    height: 70px;
    margin: 10px;

}

#password {
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
}
#copy {
    background-color: #c0c0c0;
    border-color:#c0c0c0;
    border-radius: 1rem;
    width: 250px;
    height: 70px;
    margin: 10px;
}

@media (min-width: 768px) {
    #copy {
        margin-left: 130px;
    }
}

@media (min-width: 992px) {
    #copy {
        margin-left: 30%;
    }
    #generate-password{
        margin-left: 10%;
    }
}
footer {
    background-color: lightgray;
    text-align: center; 
    height: 60px;
    padding: 20px;
}